* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  text-align: center;
  outline: none;
}

html, body{
  width:100%;
  height:100%;
}

#wrapper{
  width:100%;
  height:100%;
}

header{
  display: block;
  /* position: absolute; */
  /* top:0; */
  width:100%;
  height:50px;
  background: #fae6b1;
}

.head{
  display: block;
  margin:auto;
  max-width: 1300px;
  height:50px;
  color:white;
  padding-top:8px;
  /* margin-top: 10px; */
}

#login_btn{
  background:none;
  border:none;
}


#wire{
  width:70%;
  height:auto;
  margin:auto;

}

.head img{
  width:125px;
  float:left;
  margin-right: 15px;
}

.head h2{
  float:left;
}

.head span{
  float:right;
  margin-top: 5px;
}

nav ul{
  margin-top: 20px;
  display: flex;
  height:20px;
}

nav ul li a{
  color:#ccc;
  font-size:20px;
  padding:0 15px;
}

nav ul li a:hover{
  color:#fae6b1;
  text-decoration: underline;
}

.c2 a{
  display: block;
  width:100%;
  height:35px;
  text-align: left;
}

.c2 ul{
  visibility: hidden;
  margin:0;
}

.c2 ul a{
  font-size:16px;
}

.c2:hover ul{
  visibility: visible;
}

.main_contents{
  display:flex;
  width:100%;
  height:600px;
  border:2px solid #ccc;
  margin:auto;
  margin-top: 70px;
}

.notice_list{
  /* border:1px solid #ccc; */
  width:300px;
  height: 600px;
  /* float:left; */
  border-right:2px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.notice_list ul{
  display: flex;
  flex-direction:column;
  align-items: center;
  /* height:100%; */
}

.notice_list ul li{
  display: flex;
  align-items:center;
  justify-content: center;
  width:100%;
  height:58px;
  border:1px solid #ccc;
}


.notice_list ul li:first-child{
  background: #fae6b1;
  border-top:none;
}

.notice_list ul li:last-child{
  border-bottom:2px solid #ccc;
}

.notice_list ul li a{
  color:#aaa;
}

.notice_list ul li:nth-child(3) a{
  font-weight: bold;
  color:black;
}

.main_content{
  /* display:flex;
  flex-direction: column; */
  width:100%;
  height:100%;
  box-sizing: border-box;
  /* display: block; */
  /* position:relative; */
  /* border:1px solid #ccc; */
  /* margin-left:233px; */
}

.main_title{
    /* width:843px; */
  display: flex;
  align-items:center;
  justify-content: center;
  height:58px;
  background: #fae6b1;
  border-bottom:2px solid #ccc;
}

.main_table{
  width:auto;
  height:auto;
  padding:25px;
}

.mtm{
  width:100%;
  height:100%;

  border-collapse: collapse;
  padding:25px;
  box-sizing: border-box;
  border-top:2px solid #eee;
  border-bottom:2px solid #eee;
}

.mtm th{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  padding:10px 20px;
  background:#fae6b1;
  width:220px;
}

.mtm tr{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.mtm td{
  width:780px;
  height:100%;
}

.mtm td{
  text-align: left;
  padding-left: 10px;
}

.mtm td input{
  width:50%;
  height:28px;
  border:1px solid #ccc;
  text-align: left;
  padding-left:10px;
}

select{
  height:28px;
  border:1px solid #ccc;
}

textarea{
  width:98%;
  height:300px;
  resize:none;
  margin:15px 0 10px;
  padding:10px;
  text-align: left;
  border:1px solid #ccc;
}

.text_btn{
  padding-top:15px;
}

button{
  width:100px;
  height:45px;
  cursor:pointer;
  background:#fae6b1;
  border:1px solid #eee;
}

button:first-of-type{
  background:white;
  border:1px solid #ccc;
}

footer{
  width:100%;
  display: block;
  position:fixed;
  bottom:0;
  background-color:rgba(255, 255, 255, 0.9);
  /* background: white; */
  font-size: 12px;
}

.list_page a{
  padding:0 10px;
}

.company{
  display: inline;
  padding: 10px;
}

.footer *{
  display:inline-block;
  vertical-align:middle;
}

.detail{
  text-align: left;
}

/* @media screen and (max-height:820px){
  footer{
    display:none;
  }
} */
