body {
  margin:0;
  padding:0;
  background:#eee !important;
}

hr{
  width: 90%;
  border:1px solid #eee;
}

a{
  text-decoration: none;
}

li {
  display:flex;
  list-style: none;
  padding-left: 10px;
}

input{
  border: 1px solid #eee;
}

h4{
  margin:10px 0;
}

footer{
  text-align: center;
  font-size: 12px;
  margin-top:30px;
}

#wrapper {
  background:white;
  text-align:center;
  margin:auto;
  width:500px;
  height:100%;
  border-radius: 10px;
  margin-top:50px;s
  /* box-shadow:; */
}

.button img{
  width:10px;
  padding:20px;
}

.title{
  margin-top:0;
  margin-bottom:20px;
}

.logo img{
  margin:70px 0 0 0;
  width:100px;
}

.email-check{
  width:450px;
  height:75px;
  background:#ffe699;
  border:1px solid #eee;
  margin:15px;
  cursor:pointer;
  font-size: 24px;
  color:white;
}

.footer{
  font-size: 12px;
  padding-bottom:30px;
}
